<div id="about" class="container animate__animated animate__fadeInLeft mat-typography">

<h1 class="text-monospace" id="about">About me</h1>
<hr>
<!-- <span _ngcontent-suw-c6 class="bar-title mb-5">adadwadw</span> -->
<div class="row">
    <div class="col-md-6 text-center">
<img class="img-fluid rounded mx-auto" src="assets/img/linkedinprofilna.jpg">
    </div>
    <div id="abouttext" class="col-md-6 d-flex align-items-center justify-content-center flex-column">
<p> {{aboutText1}} </p>

    <ul>
        <li *ngFor="let item of listItems"><i class="{{item?.iconClass}}" aria-hidden="true"></i>{{item?.title}}</li>
    </ul>
    <p> {{aboutText2}} </p>
</div>
</div>

</div>


<app-skills></app-skills>
