 
    
    <div class="hero-image" style="background-image: url('assets/img/background.jpg')">
      <div class="hero-text">
        <h1 class="animate__animated animate__fadeInRight" style="font-size:50px; line-height: 50px;">I am Harun Jašarević</h1>
        <h3 class="animate__animated animate__fadeInRight">And I'm an aspiring Web Developer</h3>
        <button mat-raised-button matTooltip="Click to open page" class="animate__animated animate__fadeInRight"><a href="https://www.linkedin.com/in/harun-jasarevic-914723200/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>My LinkedIn</a></button>
      </div>
    </div>
    
    
   
    <app-about></app-about>


    
   