 
    
    <div class="hero-image" style="background-image: url('assets/img/background.jpg')">
      <div class="hero-text mat-typography">
        <h1 class="animate__animated animate__fadeInRight" style="font-size:50px; line-height: 50px;">I am Harun Jašarević</h1>
        <h3 class="animate__animated animate__fadeInRight">And I'm an aspiring Web Developer</h3>
        <button style="width: 100px; margin-right: 20px;" mat-raised-button matTooltip="Click to open" class="animate__animated animate__fadeInRight"><a href="https://www.linkedin.com/in/harun-jasarevic-914723200/" 
          target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a></button>
          <button style="width: 100px;" mat-raised-button matTooltip="Click to open" class="animate__animated animate__fadeInRight">
            <a href="https://github.com/flexton1" target="_blank">
              <i class="fa fa-github" style="margin-right: 4px;" aria-hidden="true"></i>GitHub</a></button>

      </div>
    </div>
    
    
    <app-about></app-about>
   

    
   