
<mat-toolbar color="primary" class="mb-2 pt-2">
    
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <span (click)="toHome()" id="home" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i>Home</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <span (click)="toAbout()" class="nav-link js-scroll-trigger smooth-scroll">About me</span>
            </li>
            <li>
                <span (click)="toSkills()" class="nav-link js-scroll-trigger smooth-scroll">Skills</span>
            </li>
            
            <li>
                <span (click)="toPortfolio()" class="nav-link js-scroll-trigger smooth-scroll">Portfolio</span>
            </li>
            <li>
                <span (click)="toContact()" class="nav-link js-scroll-trigger smooth-scroll">Contact me</span>
            </li>
        </ul>
    </div>

  </mat-toolbar>