<mat-nav-list >
    <mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Main Page</span>
    </mat-list-item>
    <mat-list-item (click)="onSidenavClose(); toAbout()">
        <mat-icon>folder</mat-icon><span class="nav-caption">About me</span>
    </mat-list-item>
    <mat-list-item (click)="onSidenavClose(); toSkills()">
        <mat-icon>storage</mat-icon><span class="nav-caption">Skills</span>
    </mat-list-item>
    
    <mat-list-item (click)="onSidenavClose(); toPortfolio()">
        <mat-icon>work</mat-icon><span class="nav-caption">Portfolio</span>
    </mat-list-item>
    <mat-list-item (click)="onSidenavClose(); toContact()">
        <mat-icon>message</mat-icon><span class="nav-caption">Contact me</span>
    </mat-list-item>
  </mat-nav-list>

