<div class="container">
    
<h1 class="text-monospace">Skills</h1>
<hr>
<div class="d-flex flex-wrap justify-content-center">
    <img matTooltip="HTML" class="img-thumbnail" src="assets/img/html.png">
    <img matTooltip="CSS" class="img-thumbnail" src="assets/img/css.png">
    <img matTooltip="JavaScript" class="img-thumbnail" src="assets/img/javascript.png">
    <img matTooltip="Angular 13" class="img-thumbnail" src="assets/img/angular.png">

<img matTooltip="TypeScript" class="img-thumbnail" src="assets/img/typescript.png">
<img matTooltip="Java SpringBoot" class="img-thumbnail" src="assets/img/springboot.png">
<img matTooltip="MySql" class="img-thumbnail" src="assets/img/mysql.png">
<img matTooltip="Git" class="img-thumbnail" src="assets/img/git.png">
</div>
</div>

<app-portfolio></app-portfolio>>