<div id="skills" class="container">

<h1 class="text-monospace">Skills</h1>
<hr>
<div class="d-flex flex-wrap justify-content-center">

    <img matTooltip="JavaScript" class="img-thumbnail" src="assets/img/javascript.png">
    <img matTooltip="Angular" class="img-thumbnail" src="assets/img/angular.png">

<img matTooltip="TypeScript" class="img-thumbnail" src="assets/img/typescript.png">
<img matTooltip="C#" class="img-thumbnail" src="assets/img/Logo_C_sharp.png">
<img matTooltip="SQL Server" class="img-thumbnail" src="assets/img/sqlserver.jpg">
<img matTooltip="Git" class="img-thumbnail" src="assets/img/git.png">
  <img matTooltip="Knockout.js" class="img-thumbnail" src="assets/img/knockoutjs.png">
</div>
</div>

<app-portfolio></app-portfolio>
